<div class="container my-4">
  <ul class="list-group">
    <div *ngFor="let todo of Homelist">
      <li
        class="list-group-item flex-column align-items-start"
        [ngClass]="{
          'list-group-item-success': todo.completed,
          'list-group-item-warning': !todo.completed
        }"
        (click)="greenYellow(todo)"
      >
        <input type="checkbox" [(ngModel)]="todo.completed" />
        <p>{{ todo.todo }}</p>
        <ul>
          <li *ngFor="let user of getTodoUsers(todo)">
            {{ user.firstName }}
          </li>
        </ul>
      </li>
    </div>
  </ul>
</div>
