<div class="container-fluid bg-dark mt-5 text-light">
  <div class="row">
    <div class="col-4 text-center mt-2">
      <img src="../../../assets/img/logo.png" />
      <h5>Il tuo amichevole autosalone di quartiere!</h5>
      <address>
        S.S.89 Contrada Pace<br />
        71043 Manfredonia(FG)<br />
        ☎️ - 📠 0884530103<br />
        📧 info-licars.it
      </address>
    </div>
    <div class="col-4 d-flex justify-content-around align-items-center">
      <a [routerLink]="['/']" class="menu-footer">Home</a> |
      <a [routerLink]="['/fiat']" class="menu-footer">Fiat</a>
      |
      <a [routerLink]="['/ford']" class="menu-footer">Ford</a>
      |
      <a [routerLink]="['/audi']" class="menu-footer">Audi</a>
    </div>
    <div class="col-4 d-flex justify-content-center align-items-center">
      <table>
        <tr>
          <th>Giorno</th>
          <th>Orari</th>
        </tr>
        <tr>
          <td>Lunedì</td>
          <td>09:30 - 13:00<br />16:00 - 20:00</td>
        </tr>
        <tr>
          <td>Martedì</td>
          <td>09:30 - 13:00<br />16:00 - 20:00</td>
        </tr>
        <tr>
          <td>Mercoledì</td>
          <td>09:30 - 13:00<br />16:00 - 20:00</td>
        </tr>
        <tr>
          <td>Giovedì</td>
          <td>09:30 - 13:00<br />16:00 - 20:00</td>
        </tr>
        <tr>
          <td>Venerdì</td>
          <td>09:30 - 13:00<br />16:00 - 20:00</td>
        </tr>
        <tr>
          <td>Sabato</td>
          <td>09:30 - 13:00</td>
        </tr>
        <tr>
          <td>Domenica</td>
          <td>Chiuso</td>
        </tr>
      </table>
    </div>
  </div>
</div>
